<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <style>
        #matrixCanvas {
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }
    </style>
</head>
<body>
    <canvas id="matrixCanvas"></canvas>

    <h1 align="center">⚡ Welcome to the Video Downloader ⚡<br><br>YouTube & TikTok Downloader</h1>

    <h2>🎥 Enter the URL of the YouTube video you want to download:</h2>
    <form action="/download_youtube" method="post">
        <input type="text" name="url" placeholder="Enter YouTube URL" required>
        <input type="submit" value="Download YouTube Video">
    </form>

    <h2>📱 Enter the URL of the TikTok video you want to download:</h2>
    <form action="/download_tiktok" method="post">
        <input type="text" name="url" placeholder="Enter TikTok URL" required>
        <input type="submit" value="Download TikTok Video">
    </form>

    

       


    <footer align="center"><br><p>© 2023 Cyberpunk Video Hub. All rights reserved.</p>
        <p>Created with ❤️ by Manish (Ankeman)</p></footer></body>
    </footer>
</body>
</html>
